---
    import Logo from "./Logo.astro";
    import NavigationMenu from "./NavigationMenu.astro";
---

<header class="dark">
    <div>
        <Logo className="logo" href="./">
            <picture class="contenedorLogo" slot="before">
                <img class="contenedorLogo_img" src="./public/icons/whiteLogo.png" alt="Logo de Leonardo Dillon">
            </picture>
            LDILLON
        </Logo>
        <NavigationMenu />
    </div>
</header>

<style>
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        height: 56px;
    }
    header div{
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;  
    }
    header.dark div picture.contenedorLogo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--font-24);
    }
    header.dark div picture.contenedorLogo img.contenedorLogo_img{
        width: 100%;
    }
    @media (width < 550px){
        header{
            width: calc(100% - 12px);
            justify-content: space-between;
            padding: 12px 6px;
        }
        header div{
            width: calc(100% - 8px) ;
            margin: 0 4px;
        }
    }
</style>