:root{
    --blue: #070E1B;
    --light--blue: #101624;
    --yellow: #FEC544;
    --grey: #a9adb8;
    --text--white: #E3E4E7;
    --text--yellow: #F7C043;

    /* text color */
    --text--color-yellow: #FEC544;
    --text--color-yellow: rgb(254, 197, 68);
    --text--color-white: #E3E4E7;
    --text--color-black: #070d1b;

    /* bg */
    --background--color-yellow: var(--text--color-yellow);
    --background--color-light-blue2: #1d2538;
    --background--color-light-blue: #101624;
    --background--color-blue: #070E1B;
    --background--color-white: #E3E4E7;
    --background--color-light-white: rgba(227, 228, 231, 50%);

    /* Border */
    --border--yellow: #6f4d00;

    /* hover */
    --hover--color--primary: rgba(169, 173, 184, 20%);
    --hover--color-white: rgba(227, 228, 231, 40%);

    /* font-size */
    --font-120: 120px;
    --font-80: 80px;
    --font-72: 72px;
    --font-64: 64px;
    --font-52: 52px;
    --font-48: 48px;
    --font-40: 40px;
    --font-38: 38px;
    --font-36: 36px;
    --font-34: 34px;
    --font-32: 32px;
    --font-28: 28px;
    --font-24: 24px;
    --font-22: 22px;
    --font-20: 20px;
    --font-18: 18px;
    --font-16: 16px;    
}