---
import Link from "../svg/Link.astro";
---

<section class="introduction">
    <div>
        <div>
            <h3>
                Hola! <span>Soy</span> 
            </h3>
            <h1>
                Leonardo <br> Dillon
            </h1>
            <p>
                Desarrollador FullStack
            </p>
            <div class="links">
                <a href="#aboutMe" title="ir a Sobre mí">
                    Sobre Mí
                </a>
                <a href="/contacto" title="ir a Contatame">
                    Contáctame 
                    <Link 
                        width="24"
                        height="24"
                        color="var(--text--color-white)"
                    />
                </a>
            </div>
        </div>
        <picture class="imgContainer">
            <img src="/public/pictures/a4.png" alt="Imagen de Leonardo Dillon de perfil" title="Leonardo Dillon">
            <div class="deco_1"></div>
            <div class="deco_2"></div>
        </picture>
    </div>
</section>

<style>
    
    section.introduction{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0;
        padding: 56px 0;
        overflow: hidden;
        color: var(--text--color-white);
    }
    section::before {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        background: radial-gradient(rgba(111, 238, 255, 0.03), transparent 30%) 1px 1px;
        background-size: 50px 50px; 
        animation: starsMove 10s linear infinite; 
        z-index: -1; 
    }
    section.introduction>div{
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 24px 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
    }
    section.introduction>div>div{
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: max-content;
        gap: 12px;
    }
    section.introduction div div h3{
        color: var(--text--color-yellow);
        font-size: var(--font-32);
        opacity: .5;
        font-weight: 400;
    }
    section.introduction div div h1{
        width: min-content;
        font-size: var(--font-100);
        color: var(--text--color-white);
        font-weight: bold;
    } 
    section.introduction div div h1 span{
        margin-left: 24px;
    }
    section.introduction div div p{
        margin: 12px 0;
        font-size: var(--font-32);
        opacity: .8;
        text-wrap:pretty;
    }
    section.introduction div div p span{
        margin-left: 12px;
        font-size: var(--font-28);
        opacity: ;
    }
    section.introduction div div.links{
        display: flex;
        flex-wrap: wrap;
        gap: 42px;
    }
    section.introduction div div a{
        display: flex;
        align-items: center;
        gap: 12px;
        width: max-content;
        margin: 4px 0 ;
        padding: 6px 24px;
        border-radius: 8px;
        border: 2px solid var(--border--yellow);
        background-color: var(--background--color-blue);
        color: var(--text--color-white);
        font-size: var(--font-24);
        letter-spacing: 2px;
        font-weight: 400;
        opacity: 0.7;
        transition: opacity .1s ease-out;
    }
    section.introduction div div a:hover{
        opacity: 1;
    }
    section.introduction div div a:active{
        background-color: var( --hover--color--primary);
    }
    section picture.imgContainer{
        position: relative;
        width: 100%;
        max-width: 400px;
        padding: 1px;
        display: flex;
        align-items: center;
        border-radius: 24px;
        overflow: hidden;
        opacity: 0.8;
        z-index: 3;
        transition: opacity .3s ease-out;
    }
    section picture.imgContainer img{
        width: 100%;
        max-height: 490px;
        border-radius: 24px;
        z-index: 2;
        object-position: 100px right;
        object-fit: cover;
    }
    section picture.imgContainer div.deco_1{
        width: 90px;
        height: 90px;
        position: absolute;
        top: 0px ;
        right: 0px;
        background-color: var(--background--color-yellow);
        z-index: 0;
        transition: top .3s ease-out;
    }
    section picture.imgContainer div.deco_2{
        width: 90px;
        height: 90px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-color: var(--background--color-yellow);
        z-index: 0;
        transition: bottom .3s ease-out;
    }
    section picture.imgContainer:hover{
        opacity: 1;
    }
    section picture.imgContainer:hover div.deco_1{
        top: calc(100% - 90px);
    }
    section picture.imgContainer:hover div.deco_2{
        bottom: calc(100% - 90px);
    } 

    @media(width < 1000px){
        section.introduction div div h1{
            font-size: var(--font-80);
        }
        section picture.imgContainer img{
            max-height: 460px;
        }
        section.introduction div div.links{
            gap: 8px;
        }
    }
    @media(width < 750px){
        section.introduction div {
            gap: 12px;
        }
        section.introduction div div h1{
            font-size: var(--font-64);
        }
        section.introduction div div.links{
            flex-direction: column;
        }
    }
    @media(width < 600px){
        section.introduction{
            width: 95%;
            margin: 0 auto;
            padding: 0;
        }
        section.introduction>div{
            flex-direction: column-reverse;
            gap: 0;
        }
        section.introduction>div>div{
            margin: 6px 0;
        }
        section.introduction div div h3{
            width: 100%;
            margin-top: 12px;
            text-align: center;
            font-size: var(--font-20);
        }
        section.introduction div div h1{
            width: 100%;
            font-size: var(--font-48);
            text-align: center;
        }
        section.introduction>div>div{
            width: 100%;
        }
        section.introduction div div.links{
            justify-content: center;
            flex-direction: row;
        }
        section.introduction div div.links a{
            width: 60%;
            display: flex;
            justify-content: center;
        }
        section.introduction div div p{
            width: 100%;
            text-align: center;
            font-size: var(--font-22);
        }
        section.introduction div picture{
            width: auto;
        }
        section.introduction div picture img{
            width: auto;
            height: 300px;
        }
    }
    @keyframes starsMove {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(200px, 300px); 
        }
    }
</style>