---
import Web          from "../svg/networks/Web.astro";
import Php          from "../svg/technologies/Php.astro";
import Css          from "../svg/technologies/Css.astro";
import Git          from "../svg/technologies/Git.astro";
import Vue          from "../svg/technologies/Vue.astro";
import Html         from "../svg/technologies/Html.astro";
import MySQL        from "../svg/technologies/MySQL.astro";
import React        from "../svg/technologies/React.astro";
import GitHub       from "../svg/networks/GitHub.astro";
import Kotlin       from "../svg/technologies/Kotlin.astro";
import MongoDB      from "../svg/technologies/MongoDB.astro";
import Laravel      from "../svg/technologies/Laravel.astro";
import Tailwind     from "../svg/technologies/Tailwind.astro";
import Boostrap     from "../svg/technologies/Boostrap.astro";
import WordPress    from "../svg/technologies/WordPress.astro";
import proyectos    from "../../data/proyectos.json"
import JavaScript   from "../svg/technologies/JavaScript.astro";
import MaxMinSize   from "../svg/MaxMinSize.astro";

const techComponents: { [key: string]: any } = {
  html:         Html,
  css:          Css,
  sass:         Css,
  javascript:   JavaScript,
  php:          Php,
  git:          Git,
  boostrap:     Boostrap,
  tailwind:     Tailwind,
  astro:        Web,
  react:        React,
  vue:          Vue,
  laravel:      Laravel,
  mysql:        MySQL,
  mongodb:      MongoDB,
  wordpress:    WordPress,
  kotlin:       Kotlin
}
---

<section class="proyects" id="proyects">
    <h2>PROYECTOS</h2>
    <h3>
        <span>P</span>ROYECTOS
    </h3>
    <div class="proyectContainer">
        {
            proyectos.map( ( proyect ) => (
                <article id={proyect.name}>
                    <picture>
                        <img 
                            src={ proyect.img[0].url } 
                            alt={ proyect.img[0].title }
                        >
                    </picture>
                    <div class="info">
                        <h4>{ proyect.name }</h4>
                        <p class="description" set:html={ proyect.description }> </p>
                        <div class="proyects_technology">
                            { 
                                proyect.technology.map( ( tech ) => {
                                    const Comp = techComponents[ tech.name.toLowerCase() ]
                                    return <div class={ tech.name } title={ tech.name } >
                                        <Comp width="32" height="32"/>
                                    </div>
                                } )
                            }
                        </div>
                        <a
                            href={ "proyectos/" + proyect.ruta }
                        > Ver Más </a>
                        <div class="proyects_networks">
                            <a class="linkNetwork" href={ proyect.links[0].link } title={ proyect.links[0].title }>
                                <GitHub 
                                    width="32" 
                                    height="32" 
                                    color="var(--hover--color-white)"
                                />
                            </a>
                            { proyect.links[1] && <a class="linkNetwork" href={ proyect?.links[1]?.link } title={ proyect?.links[1]?.title }>
                                <Web 
                                    width="32" 
                                    height="32" 
                                    color="var(--hover--color-white)"
                                />
                            </a> }
                        </div>
                    </div>
                </article>
            ))
        }
    </div>
</section>

<style>
    section.proyects {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 52px 0;
        position: relative;
        color: var(--text--color-white);
    }
    section.proyects h2 {
        width: 100%;
        position: absolute;
        top: 42px;
        text-align: center;
        line-height: var(--font-52);
        text-transform: uppercase;
        text-wrap: nowrap;
        font-size: var(--font-52);
        font-weight: 700;
        color: rgba(21, 27, 41, 0.8);
        width: 100%;
    }
    section.proyects h3 {
        width: 100%;
        position: relative;
        margin: 32px 0;
        border-bottom: 1px solid var(--text--color-white);
        text-align: center;
        font-size: var(--font-32);
    }
    section.proyects h3 span {
        font-size: var(--font-32);
        color: var(--text--color-yellow);
    }
    section.proyects div.proyectContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 42px 24px;
    }
    section.proyects div.proyectContainer article {
        width: calc(100% - 24px);
        max-width: 350px;
        padding: 12px;
        border-radius: 24px;
        background-color: var(--background--color-light-blue2);
        box-shadow: 0 0 12px var(--hover--color-white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        overflow: hidden;
    }
    section.proyects div.proyectContainer article picture {
        position: relative;
        width: 100%;
        margin: 0 auto;
    }
    section.proyects div.proyectContainer article picture a{
        position: absolute;
        bottom: 8px;
        right: 8px;
        cursor: pointer;
        transform-origin: bottom right;
        transition: scale .1s ease-out;
    }
    section.proyects div.proyectContainer article picture a:hover{
        scale: 1.3;
    }
    section.proyects div.proyectContainer article picture img {
        width: 100%;
        max-height: 170px;
        border-radius: 28px;
        transform-origin: bottom;
        transition: scale 0.2s ease-out;
    }
    section.proyects div.proyectContainer article:hover picture img {
        scale: 1.2;
    }
    section.proyects div.proyectContainer article div.info{
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    section.proyects div.proyectContainer article div.info a{
        text-align: end;
        color: var(--text--color-cyan);
        font-size: var(--font-16);
    }
    section.proyects div.proyectContainer article div.info a:hover{
        color: var(--text--color-white);
    }
    section.proyects div.proyectContainer article div.info h4 {
        text-align: start;
        font-size: var(--font-32);
        letter-spacing: 4px;
    }
    section.proyects div.proyectContainer article div.info p.description {
        margin-left: auto;
        opacity: 0.8;
    }
    section.proyects div.proyectContainer article div.info div{
        margin: 4px 0;
    }
    section.proyects div.proyectContainer article div.info div.proyects_technology{
        padding: 8px 0;
        border-top: 2px solid var(--hover--color-white);
        border-bottom: 2px solid var(--hover--color-white);
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 12px;
    }
    section.proyects div.proyectContainer article div.info div.proyects_technology div{
        color: var(--text--color-white);
        transition: color .2s .3s ease-out;
    }
    section.proyects div.proyectContainer article div.info div.proyects_networks{
        position: absolute;
        top: 0px;
        right: 12px;
        display: flex;
        align-items: center;
        gap: 24px;
    }
    section.proyects div.proyectContainer article div.info a.btn_VerMas{
        padding: 12px;
        border-radius: 12px;
        color: var(--text--color-white);
        font-size: var(--font-20);
        text-align: center;
        display: none;
    }
    section.proyects div.proyectContainer article div.info div.proyects_technology div.html:hover        { color: #E44D26; transition: color 0s ease-out;}     
    section.proyects div.proyectContainer article div.info div.proyects_technology div.css:hover         { color: #264DE4; transition: color 0s ease-out;}      
    section.proyects div.proyectContainer article div.info div.proyects_technology div.javascript:hover  { color: #F0DB4F; transition: color 0s ease-out;}       
    section.proyects div.proyectContainer article div.info div.proyects_technology div.php:hover         { color: #777BB4; transition: color 0s ease-out;}      
    section.proyects div.proyectContainer article div.info div.proyects_technology div.git:hover         { color: #F1502F; transition: color 0s ease-out;}      
    section.proyects div.proyectContainer article div.info div.proyects_technology div.sass:hover        { color: #CF649A; transition: color 0s ease-out;}     
    section.proyects div.proyectContainer article div.info div.proyects_technology div.boostrap:hover    { color: #7952B3; transition: color 0s ease-out;} 
    section.proyects div.proyectContainer article div.info div.proyects_technology div.tailwind:hover    { color: #38BDF8; transition: color 0s ease-out;} 
    section.proyects div.proyectContainer article div.info div.proyects_technology div.astro:hover       { color: #FF5D01; transition: color 0s ease-out;}    
    section.proyects div.proyectContainer article div.info div.proyects_technology div.react:hover       { color: #61DBFB; transition: color 0s ease-out;}    
    section.proyects div.proyectContainer article div.info div.proyects_technology div.vue:hover         { color: #42b883; transition: color 0s ease-out;}      
    section.proyects div.proyectContainer article div.info div.proyects_technology div.laravel:hover     { color: #FF2D20; transition: color 0s ease-out;}  
    section.proyects div.proyectContainer article div.info div.proyects_technology div.mysql:hover       { color: #00758F; transition: color 0s ease-out;}    
    section.proyects div.proyectContainer article div.info div.proyects_technology div.mongodb:hover     { color: #4DB33D; transition: color 0s ease-out;}  
    section.proyects div.proyectContainer article div.info div.proyects_technology div.wordpress:hover   { color: #21759B; transition: color 0s ease-out;}
    section.proyects div.proyectContainer article div.info div.proyects_technology div.kotlin:hover      { color: #A97BFF; transition: color 0s ease-out;}
</style>
