---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="../../public/styles/colors.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<Header/>
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	*{
		padding: 0;
		margin: 0;
		list-style: none;
		text-decoration: none;
		font-size: 16px;
		font-family: "Roboto";
        color: var(--text--color-white);
		scroll-behavior: smooth;
	}
	body{
		background-color: var(--blue);
		min-height: 100vh;
	}
	main{
		padding-bottom: 120px;
	}
</style>
